doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet.markercluster@1.0.6/dist/MarkerCluster.Default.css')
    link(rel='stylesheet', href='https://unpkg.com/leaflet.markercluster@1.0.6/dist/MarkerCluster.css')
    script(type='text/javascript' src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js")
    script(type='text/javascript' src="https://unpkg.com/leaflet.markercluster@1.0.6/dist/leaflet.markercluster-src.js")
    script(type='text/javascript' src="/javascripts/stopnames-min.js")
    
  body
      h1= title
      div(id="map")
      div
        h3(id="stopinfo")
        h4(id="vehicleinfo")
        div(id="listscroll")
          table(id="listinfo")
  script(type='text/javascript' src="/javascripts/map.js")